.contactHeader {
  background-color: #326295;
  color:white;
  text-align: center;
  padding: 5;
}

.contactText {
  text-align: center;
  font-family: RalewayRegular;
  font-size: 20;
  margin-left: 3%;
  margin-right: 3%;
}

.contactLink {
  align: center;
  color: #BC0000;
  text-decoration: none;
}
.contactImage {
  width: 10%;
  margin-left: 45%;
}

.languageList {
  list-style-type: none;
  padding: 0;
  text-align:center;
}

.languageElement {
  display:inline;
  padding:10;
}

.flagIcon {
  width: 75;
}
