.honorsHeader {
  background-color: #326295;
  color: white;
  text-align: center;
  padding: 5;
  background-repeat: repeat;
}

.honorsContainer{
  background: white;
  font-size:20px
}


/* Create two equal columns that floats next to each other */
.honorsColumnLeft {
  float: left;
  width: 40%;
  padding: 0px;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  /*background-color: #F1F1F1;*/
}

.honorsColumnRight {
  float: left;
  width: 60%;
  padding: 0px;
  font-family: RalewayRegular;
  /*background-color: #F1F1F1;*/
}

.honorsRow {
  margin-top: 20px;
}
/* Clear floats after the columns */
.honorsRow:after {
  content: "";
  display: table;
  clear: both;
}

.honorsntuaLogo {
  width: 15%;
  margin-left: 75%;
}

.hyperlink {
  width: 20px;
  padding-left: 5px;
}

.honorsText {
  margin: 0;
}


/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 768px) {
  .honorsColumnLeft {
    width: 100%;
    margin: 0%;
  }

  .honorsColumnRight {
    width: 100%;
    margin: 0%;
  }

  .honorsntuaLogo {
    width: 20%;
    margin-left: 40%;
    margin-top: 0;
  }

  .honorsText {
    text-align: center;
  }
}
