---
layout: default
title: Main Page
---

<meta charset="UTF-8"/>
<meta name="description" content="Personal Webpage-Portfolio"/>
<meta name="keywords" content="HTML,CSS,JavaScript"/>
<meta name="author" content="Víctor Soria Pardos"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

<script src="/js/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="/js/general.js"></script>

<link rel="stylesheet" href="/css/general.css">

<title>Víctor Soria Pardos</title>

  {% include header.html %}

  {% include nav.html %}

<div class="content" id="pageContent">

  {% include aboutme.html %}
  
  {% include news.html %}

  {% include education.html %}

  {% include work.html %}

  {% include papers.html %}

  {% include honors.html %}

  {% include contact.html %}

  {% include footer.html %}

</div>
