<link rel="stylesheet" href="/css/aboutme.css">
<div id="aboutme">
  <div class="row">
    <div class="column left">
      <div class="container">
        <img class="selfImage" src="/assets/profile.jpg" alt="image not found"/>
      </div>
      <div class="personalInfo">
        <a class="name"><b>Víctor Soria Pardos</b></a>
        <p class="currentPlacement">Ph.D. Candidate in Computer Architecture @ Universitat Politècnica de Catalunya (UPC) and Barcelona Supercomputing Center (BSC-CNS)</p>
      </div>
      <div class="mediaLinksContainer">
        <a href="https://www.linkedin.com/in/victor-soria-pardos" target="_blank" class="mediaLink">
          <img alt="LinkedIn" src="/assets/PlatformImages/linkedin.png" class="mediaImage">
        </a>
        <a href="https://github.com/vsoriap" target="_blank" class="mediaLink">
          <img alt="Github" src="/assets/PlatformImages/github.svg" class="mediaImage">
        </a>
        <a href="mailto:victorsoriapardos@gmail.com" target="_blank" class="mediaLink">
          <img alt="Mail" src="/assets/PlatformImages/mail.svg" class="mediaImage">
        </a>	
        <a href="ihttps://scholar.google.es/citations?user=_d_jXGMAAAAJ&hl=en" target="_blank" class="mediaLink">
          <img alt="Google Scholar" src="/assets/PlatformImages/google.png" class="mediaImage">
        </a>
      </div>
      <!--
      <div class="CVContainer">
        <button class="CVButton" onClick="window.open('/Documents/CV.pdf'); return true;">CV</button>
      </div>
      -->
    </div>
    <div class="column right">
      <h3 align="center">About Me</h3>
      <p>
        I earned my diploma on Computer Science from <a href="https://www.unizar.es/" target="_blank" class="aboutMeLinks"><b>Universidad de Zaragoza (Unizar)</b></a>.
	Soon after, I started working at <a href="https://www.bsc.es/" target="_blank" class="aboutMeLinks"><b>Barcelona Supercomputing Center (BSC-CNS)</b></a> while
	I pursued my Master in Innovation and Research in Informatics at <a href="https://www.upc.edu/en" target="_blank" class="aboutMeLinks"><b>Universitat Politècnica de Catalunya (UPC)</b></a> 
	Currently, I am a 1st year Ph.D. student in Computer Architecture. My supervisors are Dr. <a href="https://personals.ac.upc.edu/adria/" target="_blank" class="aboutMeLinks" style="color:BC0000"><b>Adrià Armejach</b></a> from UPC/BSC-CNS,
	Dr. <a href="http://webdiis.unizar.es/~dario/" target="_blank" class="aboutMeLinks" style="color:BC0000"><b>Darío Suárez</b></a> from Unizar and
	Dr. <a href="https://personals.ac.upc.edu/mmoreto/" target="_blank" class="aboutMeLinks" style="color:BC0000"><b>Miquel Moretó</b></a> from UPC/BSC-CNS.
	<br>
	<br>
	My research interests include several topics of computer architecture. Specifically, my research focuses in parallel computing, compiler support, and developing microarchitectural prediction mechanisms. As side project, I collaborate in the <a href="https://drac.bsc.es/" target="_blank" class="aboutMeLinks" style="color:BC0000"><b>Drac Project</b></a>.
	</br>
	</br>
      </p>
    </div>
  </div>
</div>
