<link rel="stylesheet" href="/css/education.css"/>
<div id="education">
  <h3 class="educationHeader">Education</h3>
  <div class="educationContainer">      
      <div class="educationRow">
        <div class="educationColumnLeft">
          <img src="/assets/upc.png" class="unizarLogo"/>
        </div>
        <div class="educationColumnRight">
          <p class="educationText" style="margin-top:5px;"> <a class="aboutMeLinks" href="https://www.upc.edu/en" target="_blank" style="color:BC0000"><b>Universitat Politècnica de Catalunya (UPC)</b></a></p>
          <p class="educationText">Ph.D. Candidate in Computer Architecture</p>
          <p class="educationText">November 2021 - now</p> 
          <p class="educationText">Supervisors: <a class="aboutMeLinks" href="https://people.ac.upc.edu/mmoreto/" target="_blank" style="color:BC0000"><b>Miquel Moretó</b></a>, <a href="https://personals.ac.upc.edu/adria/" target="_blank" style="color:BC0000" class="aboutMeLinks"><b>Adrià Armejach</b></a>, <a href="http://webdiis.unizar.es/~dario/" target="_blank" style="color:BC0000" class="aboutMeLinks"><b>Darío Suárez</b></a></p>
          <p class="educationText" style="margin-top:5px;">
          </p>
        </div>
      </div>
      <div class="educationRow">
        <div class="educationColumnLeft">
          <img src="/assets/upc.png" class="unizarLogo"/>
        </div>
        <div class="educationColumnRight">
          <p class="educationText" style="margin-top:5px;"><b>Universitat Politècnica de Catalunya (UPC)</b></p>
          <p class="educationText">Master in Innovation and Research in Informatics. Specialization in High Performance Computing</p>
	  <p class="educationText">September 2019 - January 2022</p>
          <p class="educationText" style="margin-top:5px;">
        </div>
      </div>
      <div class="educationRow">
        <div class="educationColumnLeft">
          <img src="/assets/unizarlogo.png" class="unizarLogo"/>
        </div>
        <div class="educationColumnRight">
          <p class="educationText" style="margin-top:5px;"> <a class="aboutMeLinks" href="https://www.unizar.es/" target="_blank" style="color:BC0000"><b>Universidad de Zaragoza (Unizar)</b></a></p>
	  <p class="educationText">Bachelor's Degree in Informatics Engineering</p>
	  <p class="educationText">September 2015 - July 2019</p>
          <p class="educationText">One year abroad at Universitat Politècnica de Catalunya</p>
          <p class="educationText" style="margin-top:5px;">
            Thesis: <a target="_blank" style="color:BC0000" class="aboutMeLinks" href="https://upcommons.upc.edu/handle/2117/169276">Characterization of HPC applications for ARM SIMD instructions</a></p> <a target="_blank" style="color:BC0000" class="aboutMeLinks" href="https://zaguan.unizar.es/record/85225?ln=en">Caracterización de aplicaciones HPC para extensiones vectoriales de ARM</a></p>
        </div>
      </div>
   </div>
</div>
