<link rel="stylesheet" href="/css/footer.css">
<div class="endSection">
  <div class="footerMediaLinksContainer">
    <a href="https://www.linkedin.com/in/v%C3%ADctor-soria-pardos-951003130/" class="mediaLink">
      <img alt="LinkedIn" src="/assets/PlatformImages/linkedin_white.png" class="footerMediaImage">
    </a>
    <a href="https://github.com/vsoriap" class="mediaLink">
      <img alt="Github" src="/assets/PlatformImages/github_white.svg" class="footerMediaImage">
    </a>
    <a href="mailto:victorsoriapardos@gmail.com" class="mediaLink">
      <img alt="Mail" src="/assets/PlatformImages/mail.svg" class="footerMediaImage">
    </a>
  </div>
  <div class="copyRight">
    &copy; 2025 Víctor Soria Pardos
  </div>
</div>
