<link rel="stylesheet" href="/css/honors.css"/>
<div id="honors">
  <h3 class="honorsHeader">Honors and Awards</h3>
  <div class="honorsContainer">      
      <div class="honorsRow">
        <div class="honorsColumnLeft">
          <img src="/assets/hipeac.svg" class="honorsntuaLogo"/>
        </div>
        <div class="honorsColumnRight">
          <p class="honorsText" style="margin-top:5px;"><b>HiPEAC Paper Award </b></p>
          <p class="honorsText">Awarded in three times</p>
          <p class="honorsText" style="margin-top:5px;">
          </p>
        </div>
      <div class="honorsRow">
        <div class="honorsColumnLeft">
          <img src="/assets/spain.svg" class="honorsntuaLogo"/>
        </div>
        <div class="honorsColumnRight">
          <p class="honorsText" style="margin-top:5px;"><b>FPU Doctoral Fellowship</b></p>
          <p class="honorsText">Funded by Spanish Government (MINECO)</p>
          <p class="honorsText">Barcelona, Spain</p>
          <p class="honorsText">Duration: 2021-2024</p>
          <p class="honorsText" style="margin-top:5px;">
          </p>
        </div>
      </div>
   </div>
</div>
