<link rel="stylesheet" href="/css/nav.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div id="navbar" class="topnav">
  <!-- <a class="link" href="/blog" id="navLink"><b>Blog</b></a>-->
  <a class="link" href="#contact" id="navLink"><b>Contact</b></a>
  <a id="navLink" target="_blank" href="/Documents/CV.pdf"><b>CV</b></a>
  <!--<a class="link" href="#honors" id="navLink"><b>Honors & Awards</b></a>-->
  <a class="link" href="#papers" id="navLink"><b>Publications</b></a>
  <a class="link" href="#professionalexperience" id="navLink"><b>Professional Experience</b></a>
  <a class="link" href="#education" id="navLink"><b>Education</b></a>
  <a class="link active" href="#aboutme" id="navLink"><b>About Me</b></a>
  <a href="javascript:void(0);" class="icon" id="respIcon">
  <i class="fa fa-bars"></i>
</div>
