<link rel="stylesheet" href="/css/news.css">
<div id="news">
  <h3 class="newsHeader">Recent News</h3>

  <div class="containernewsTimeline">
     <div class="news-timeline-block news-timeline-block-right">
        <div class="news-timeline-content">
           <h9> [2022] I obtained my Master in Master in Innovation and Research in Informatics</h9>
         </div>
     </div>
  </div>

  <div class="containernewsTimeline">
     <div class="news-timeline-block news-timeline-block-right">
        <div class="news-timeline-content">
           <h9> [2021] Arm has published a short <a href="https://community.arm.com/arm-research/b/articles/posts/smart-atomic-memory-operations-and-advanced-sparse-data-structures-at-bsc" target="_" class="mediaLink" style="color:BC0000"><b>blog entry</b></a> about my research </h9>
         </div>
     </div>
  </div>

  <div class="containernewsTimeline">
     <div class="news-timeline-block news-timeline-block-right">
        <div class="news-timeline-content">
           <h9> [2021] Received the FPU Competitive Doctoral Fellowship by the Spanish Government after.
         </div>
     </div>
  </div>

  <div class="containernewsTimeline">
     <div class="news-timeline-block news-timeline-block-right">
        <div class="news-timeline-content">
           <h9> [2021] I participated in <a href="https://www.hipeac.net/acaces/2021/#/" target="_" class="mediaLink" style="color:BC0000"><b>ACACES 2021</b></a> with a poster</h9>
         </div>
     </div>
  </div>


</div>
