<link rel="stylesheet" href="/css/news.css">
<div id="news">
  <h3 class="newsHeader">Recent News</h3>

  <div class="containernewsTimeline">
     <div class="news-timeline-block news-timeline-block-right">
        <div class="news-timeline-content">
		     <h9> [2026] I've released the source code of <a href="https://github.com/vsoriap/gem5_dynamo" target="_blank" class="mediaLink" style="color:00008F"><b>DynAMO: Improving Parallelism Through Dynamic Placement of Atomic Memory Operations</b></a>.</h9>
        </div>
     </div>
  </div>

  <div class="containernewsTimeline">
     <div class="news-timeline-block news-timeline-block-right">
        <div class="news-timeline-content">
		     <h9> [2025] <a href="" target="_blank" class="mediaLink" style="color:00008F"><b>Delegato: Locality-Aware Atomic Memory Operations on Chiplets</b></a> was nominated to the <b>Best Paper Award</b> at <b>MICRO 25</b>.</h9>
        </div>
     </div>
  </div>

  <div class="containernewsTimeline">
     <div class="news-timeline-block news-timeline-block-right">
        <div class="news-timeline-content">
		     <h9> [2025] Our paper <a href="" target="_blank" class="mediaLink" style="color:00008F"><b>Delegato: Locality-Aware Atomic Memory Operations on Chiplets</b></a> was accepted at <b>MICRO 25</b>.</h9>
        </div>
     </div>
  </div>

  <div class="containernewsTimeline">
     <div class="news-timeline-block news-timeline-block-right">
        <div class="news-timeline-content">
		     <h9> [2025] Our paper <a href="" target="_blank" class="mediaLink" style="color:00008F"><b>FLAMA: Architecting Floating-Point Atomic Memory Operations for Heterogeneous HPC Systems</b></a> was accepted at <b>DSD 25</b>.</h9>
        </div>
     </div>
  </div>

  <div class="containernewsTimeline">
     <div class="news-timeline-block news-timeline-block-right">
        <div class="news-timeline-content">
		     <h9> [2024] Our paper <a href="https://www.sciencedirect.com/science/article/pii/S0167739X24001250" target="_blank" class="mediaLink" style="color:00008F"><b>GenArchBench: A genomics benchmark suite for arm HPC processors</b></a> was accepted at <b>FGCS</b>.</h9>
        </div>
     </div>
  </div>

  <div class="containernewsTimeline">
     <div class="news-timeline-block news-timeline-block-right">
        <div class="news-timeline-content">
		     <h9> [2023] I intershiped in <a href="https://careers.arm.com/france-sophia-antipolis-office" target="_blank" class="mediaLink" style="color:00008F"><b>Arm Sophia Antipolis</b></a> for three months.</h9>
        </div>
     </div>
  </div>

  <div class="containernewsTimeline">
     <div class="news-timeline-block news-timeline-block-right">
        <div class="news-timeline-content">
           <h9> [2023] I participated in <a href="https://www.hipeac.net/acaces/2023/#/" target="_" class="mediaLink" style="color:BC0000"><b>ACACES 2023</b></a> with a poster about coherence prediction</h9>
         </div>
     </div>
  </div>

  <div class="containernewsTimeline">
     <div class="news-timeline-block news-timeline-block-right">
        <div class="news-timeline-content">
		     <h9> [2023] Our paper <a href="https://dl.acm.org/doi/abs/10.1145/3613424.3614284" target="_blank" class="mediaLink" style="color:00008F"><b>A Tensor Marshaling Unit for Sparse Tensor Algebra on General-Purpose Processors</b></a> was accepted at <b>MICRO 23</b>.</h9>
        </div>
     </div>
  </div>

  <div class="containernewsTimeline">
     <div class="news-timeline-block news-timeline-block-right">
        <div class="news-timeline-content">
		     <h9> [2023] Our paper <a href="https://dl.acm.org/doi/abs/10.1145/3579371.3589065" target="_blank" class="mediaLink" style="color:00008F"><b>DynAMO: Improving Parallelism Through Dynamic Placement of Atomic Memory Operations</b></a> was accepted at <b>ISCA 23</b>.</h9>
        </div>
     </div>
  </div>

  <div class="containernewsTimeline">
     <div class="news-timeline-block news-timeline-block-right">
        <div class="news-timeline-content">
           <h9> [2022] Our paper <a href="https://ieeexplore.ieee.org/document/9996608" target="_blank" class="mediaLink" style="color:00008F"><b>Sargantana: A 1 GHz+ In-Order RISC-V Processor with SIMD Vector Extensions in 22nm FD-SOI</b></a> got accepted at <b>DSD 2022</b> and received the <b>Outstanding Paper Award</b>.</h9> <i class="fa fa-trophy" style="font-size:23px;color:orange"></i>
        </div>
     </div>
  </div>

  <div class="containernewsTimeline">
     <div class="news-timeline-block news-timeline-block-right">
        <div class="news-timeline-content">
           <h9> [2022] I obtained my Master in Master in Innovation and Research in Informatics</h9>
         </div>
     </div>
  </div>

  <div class="containernewsTimeline">
     <div class="news-timeline-block news-timeline-block-right">
        <div class="news-timeline-content">
           <h9> [2021] Arm has published a short <a href="https://community.arm.com/arm-research/b/articles/posts/smart-atomic-memory-operations-and-advanced-sparse-data-structures-at-bsc" target="_" class="mediaLink" style="color:BC0000"><b>blog entry</b></a> about my research </h9>
         </div>
     </div>
  </div>

  <div class="containernewsTimeline">
     <div class="news-timeline-block news-timeline-block-right">
        <div class="news-timeline-content">
           <h9> [2021] Received the FPU Competitive Doctoral Fellowship by the Spanish Government after.
         </div>
     </div>
  </div>

  <div class="containernewsTimeline">
     <div class="news-timeline-block news-timeline-block-right">
        <div class="news-timeline-content">
           <h9> [2021] I participated in <a href="https://www.hipeac.net/acaces/2021/#/" target="_" class="mediaLink" style="color:BC0000"><b>ACACES 2021</b></a> with a poster about far AMO</h9>
         </div>
     </div>
  </div>


</div>
