<link rel="stylesheet" href="/css/papers.css">
<div id="papers">
  <h3 class="papersHeader">Publications</h3>

  <div class="containerpaperTimeline">
        <div class="paper-timeline-block paper-timeline-block-right">
                 <div class="paper-timeline-content-header">
                        <h9>  <b>2025</b> </h9>
                </div>
        </div>
  </div>

  <div class="containerpaperTimeline">
     <div class="paper-timeline-block paper-timeline-block-right">
        <div class="paper-timeline-content">
                [<b>MICRO'25</b>] <a style="color:00008F"><b>Delegato: Locality-Aware Atomic Memory Operations on Chiplets</b></a>
         </div>
     </div>
     <div class="paper-timeline-block-new paper-timeline-block-right">
        <div class="paper-timeline-content">
           <h9> V. Soria-Pardos, A. Armejach, D. Suárez-Gracia, T. Mück, J. A. Joao, M. Moretó.. Proceedings of the 58th Annual International Symposium on Microarchitecture (MICRO 2025). </h9>
     </div>
  </div>

  <div class="containerpaperTimeline">
     <div class="paper-timeline-block paper-timeline-block-right">
        <div class="paper-timeline-content">
                [<b>DSD'25</b>] <a style="color:00008F"><b>FLAMA: Architecting Floating-Point Atomic Memory Operations for Heterogeneous HPC Systems</b></a>
         </div>
     </div>
     <div class="paper-timeline-block-new paper-timeline-block-right">
        <div class="paper-timeline-content">
           <h9> V. Soria-Pardos, A. Armejach, D. Suárez-Gracia, D. Martinot, A. Grasset, M. Moretó. Euromicro Conference on Digital System Design (DSD 2025), Salerno. </h9>
         </div>
     </div>
  </div>

    <div class="containerpaperTimeline">
        <div class="paper-timeline-block paper-timeline-block-right">
                 <div class="paper-timeline-content-header">
                        <h9>  <b>2024</b> </h9>
                </div>
        </div>
  </div>

  <div class="containerpaperTimeline">
     <div class="paper-timeline-block paper-timeline-block-right">
        <div class="paper-timeline-content">
                [<b>FGCS'24</b>] <a style="color:00008F"><b>GenArchBench: A genomics benchmark suite for arm HPC processors</b></a>
         </div>
     </div>
     <div class="paper-timeline-block-new paper-timeline-block-right">
        <div class="paper-timeline-content">
           <h9> L. López-Villellas, R. Langarita-Benı́tez, A. Badouh, V. Soria Pardos, Q. Aguado-Puig, G. López-Paradı́s, M. Doblas, J. Setoain, C. Kim, M. Ono, A. Armejach, S. Marco-Sola, J. Alastruey-Benedé, P. Ibáñez, M. Moretó. Future Generation Computer Systems, 2024. </h9>
         </div>
     </div>
  </div>

    <div class="containerpaperTimeline">
        <div class="paper-timeline-block paper-timeline-block-right">
                 <div class="paper-timeline-content-header">
                        <h9>  <b>2023</b> </h9>
                </div>
        </div>
  </div>

  <div class="containerpaperTimeline">
     <div class="paper-timeline-block paper-timeline-block-right">
        <div class="paper-timeline-content">
                [<b>MICRO'23</b>] <a style="color:00008F"><b>A Tensor Marshaling Unit for Sparse Tensor Algebra on General-Purpose Processors</b></a>
         </div>
     </div>
     <div class="paper-timeline-block-new paper-timeline-block-right">
        <div class="paper-timeline-content">
           <h9> M. Siracusa, V. Soria-Pardos, F. Sgherzi, J. Randall, D. J. Joseph, M. Moreto, A. Armejach. Proceedings of the 56th Annual International Symposium on Microarchitecture (MICRO 2023). </h9>
         </div>
     </div>
  </div>

  <div class="containerpaperTimeline">
     <div class="paper-timeline-block paper-timeline-block-right">
        <div class="paper-timeline-content">
                [<b>ISCA'23</b>] <a style="color:00008F"><b>DynAMO: Improving Parallelism Through Dynamic Placement of Atomic Memory Operations</b></a>
         </div>
     </div>
     <div class="paper-timeline-block-new paper-timeline-block-right">
        <div class="paper-timeline-content">
           <h9> V. Soria-Pardos, A. Armejach, D. Suárez-Gracia, T. Mück, J. A. Joao, A. Rico, M. Moretó. Proceedings of the 50th Annual International Symposium on Computer Architecture (ISCA 2023). </h9>
         </div>
     </div>
  </div>

  <div class="containerpaperTimeline">
     <div class="paper-timeline-block paper-timeline-block-right">
        <div class="paper-timeline-content">
                [<b>DCIS'23</b>] <a style="color:00008F"><b>Sargantana: An Academic SoC RISC-V Processor in 22nm FDSOI Technology</b></a>
         </div>
     </div>
     <div class="paper-timeline-block-new paper-timeline-block-right">
        <div class="paper-timeline-content">
           <h9> M. Doblas, et al. Conference on Design of Circuits and Integrated Systems (DCIS 2023). </h9>
         </div>
     </div>
  </div>

  <div class="containerpaperTimeline">
        <div class="paper-timeline-block paper-timeline-block-right">
                 <div class="paper-timeline-content-header">
                        <h9>  <b>2022</b> </h9>
                </div>
        </div>
  </div>

  <div class="containerpaperTimeline">
     <div class="paper-timeline-block paper-timeline-block-right">
        <div class="paper-timeline-content">
                [<b>DCIS'22</b>] <a style="color:00008F"><b>DVINO: A RISC-V Vector Processor Implemented in 65nm Technology</b></a>
         </div>
     </div>
     <div class="paper-timeline-block-new paper-timeline-block-right">
        <div class="paper-timeline-content">
           <h9> Guillem Cabo, et al. Conference on Design of Circuits and Integrated Systems (DCIS 2022), Pamplona. </h9>
         </div>
     </div>
  </div>

  <div class="containerpaperTimeline">
     <div class="paper-timeline-block paper-timeline-block-right">
        <div class="paper-timeline-content">
                [<b>DSD'22</b>] <a style="color:00008F"><b>Sargantana: A 1 GHz+ In-Order RISC-V Processor with SIMD Vector Extensions in 22nm FD-SOI</b></a>
         </div>
     </div>
     <div class="paper-timeline-block-new paper-timeline-block-right">
        <div class="paper-timeline-content">
           <h9> Víctor Soria Pardos, Max Doblas, Guillem López-Paradís, Gerard Candón, Narcís Rodas, Xavier Carril, Pau Fontova-Musté, Neiel Leyva, Santiago Marco-Sola, Miquel Moretó. Euromicro Conference on Digital System Design (DSD 2022), Maspalomas. [<a href="https://upcommons.upc.edu/bitstream/handle/2117/384912/sargantana_preprint.pdf" target="_blank" class="mediaLink" style="color:BC0000"><b>paper</b></a>] </h9>
         </div>
     </div>
  </div>

  <div class="containerpaperTimeline">
   	<div class="paper-timeline-block paper-timeline-block-right">
  		 <div class="paper-timeline-content-header">
			<h9>  <b>2021</b> </h9>
  		</div>
  	</div>
  </div>

  <div class="containerpaperTimeline">
     <div class="paper-timeline-block paper-timeline-block-right">
        <div class="paper-timeline-content">
                [<b>JoS'21</b>] <a style="color:00008F"><b>On the use of many-core Marvell ThunderX2 processor for HPC workloads</b></a>
         </div>
     </div>
     <div class="paper-timeline-block-new paper-timeline-block-right">
        <div class="paper-timeline-content">
           <h9> Víctor Soria-Pardos, Adrià Armejach, Darío Suárez, Miquel Moretó. Journal of Supercomputing 77, 3315–3338 (2021). [<a href="https://upcommons.upc.edu/bitstream/handle/2117/329761/Soria.pdf" target="_blank" class="mediaLink" style="color:BC0000"><b>paper</b></a>] </h9>
         </div>
     </div>
  </div>

  <div class="containerpaperTimeline">
     <div class="paper-timeline-block paper-timeline-block-right">
        <div class="paper-timeline-content">
                [<b>DCIS'20</b>] <a style="color:00008F"><b>An academic risc-v silicon implementation based on open-source components</b></a>
         </div>
     </div>
     <div class="paper-timeline-block-new paper-timeline-block-right">
        <div class="paper-timeline-content">
           <h9> Jaume Abella et al. Second Young Architect Workshop (YArch 2020). Conference on Design of Circuits and Integrated Systems (DCIS 2020), Segovia. [<a href="https://upcommons.upc.edu/bitstream/handle/2117/334498/DCIS2020_PreDRAC_PostPrint.pdf?sequence=1" target="_blank" class="mediaLink" style="color:BC0000"><b>paper</b></a>]</h9>
         </div>
     </div>
  </div>

