<link rel="stylesheet" href="/css/papers.css">
<div id="papers">
  <h3 class="papersHeader">Publications</h3>
  
  <div class="containerpaperTimeline">
   	<div class="paper-timeline-block paper-timeline-block-right">
  		 <div class="paper-timeline-content-header">
			<h9>  <b>2021</b> </h9>
  		</div>
  	</div>
  </div>

  <div class="containerpaperTimeline">
     <div class="paper-timeline-block paper-timeline-block-right">
        <div class="paper-timeline-content">
                [<b>JoS'21</b>] <a style="color:00008F"><b>On the use of many-core Marvell ThunderX2 processor for HPC workloads</b></a>
         </div>
     </div>
     <div class="paper-timeline-block-new paper-timeline-block-right">
        <div class="paper-timeline-content">
           <h9> Víctor Soria-Pardos, Adrià Armejach, Darío Suárez, Miquel Moretó. Journal of Supercomputing 77, 3315–3338 (2021). [<a href="https://upcommons.upc.edu/bitstream/handle/2117/329761/Soria.pdf" target="_blank" class="mediaLink" style="color:BC0000"><b>paper</b></a>] </h9>
         </div>
     </div>
  </div>

  <div class="containerpaperTimeline">
     <div class="paper-timeline-block paper-timeline-block-right">
        <div class="paper-timeline-content">
                [<b>DCIS'20</b>] <a style="color:00008F"><b>An academic risc-v silicon implementation based on open-source components</b></a>
         </div>
     </div>
     <div class="paper-timeline-block-new paper-timeline-block-right">
        <div class="paper-timeline-content">
           <h9> Jaume Abella et al. Second Young Architect Workshop (YArch 2020). Conference on Design of Circuits and Integrated Systems (DCIS 2020), Segovia. [<a href="https://upcommons.upc.edu/bitstream/handle/2117/334498/DCIS2020_PreDRAC_PostPrint.pdf?sequence=1" target="_blank" class="mediaLink" style="color:BC0000"><b>paper</b></a>]</h9>
         </div>
     </div>
  </div>

