<link rel="stylesheet" href="/css/work.css">
<div id="professionalexperience">
  <h3 class="workHeader">Professional Experience</h3>
  <div class="containerTimeline">
     <div class="timeline-block timeline-block-right">
        <div class="marker"></div>
        <div class="timeline-content">
           <h3>Undergraduate Research Student @ <a target="_blank" class="aboutMeLinks" style="color:BC0000" href="https://www.bsc.es/vavouliotis-georgios"> Barcelona Supercomputing Center (BSC-CNS) </a> </h3>
           <span>September 2018 - September 2019 </span><br>
           <div class="clearfixCompany">
             <img src="/assets/Work/bsc1.png" alt="AKKA" class="companyLogo"/>
             <div class="listBox">
               <ol class="imageList">
                <li> Participation in Projects:
                   <ul> 
                      <li>Montblanc 2020</li> 
                   </ul>
                 </li>
                <li>Characterizing OpenMP based applications</li>
               </ol>
             </div>
           </div>
         </div>
     </div>
  </div>
</div>
